{% extends "base.html" %}

{% block title %}Product Page{% endblock %}

{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('users.hi', name='Volodymyr', age=21) }}">Greet Volodymyr</a></li>
        <li><a href="{{ url_for('users.admin') }}">Admin</a></li>
    </ul>
</nav>

<h2>Сторінка продуктів</h2>

{% if price %}
    <p>Назва продукту: <strong>{{ name | capitalize }}</strong></p>
    <p>Ціна: <strong>{{ price }} грн</strong></p>
{% else %}
    <p>Продукт <strong>{{ name }}</strong> не знайдено.</p>
{% endif %}
{% endblock %}