{% extends "base.html" %}

{% block content %}
<section id="contacts">
    <h2>Контакти</h2>
    <form action="#" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Ім’я</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ваше ім'я" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.com" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Повідомлення</label>
            <textarea id="message" name="message" class="form-control" rows="5" placeholder="Ваше повідомлення" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Відправити</button>
    </form>
</section>
{% endblock %}
