{% macro render_field(field) %}
<div class="mb-3">
    <label for="{{ field.id }}" class="form-label">
        {{ field.label.text }}
        {% if field.flags.required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
    {{ field(class="form-control") }}
    {% if field.errors %}
        <div class="text-danger mt-1">
            {% for error in field.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}